html{
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
}
body
{
	color: black;
	background-color: #F5D5AE;
	position: relative;
	font-size: 15px;
	margin: 0;
}

main{
	margin: 10px;
}




.mySlides {
    display: none;
}


.tits{
	color: white;
	font-size: 15px;
	text-align: center;
}
header {
	background-color: lightblue;
	padding: 20px;
	max-width: 100%;

}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
nav li {
	margin: 0 10px;
	margin-top: 2px;
	text-align:center;
}
nav a, h1 a{
	color: white;
	text-decoration: none;
}
nav a:hover, a:hover {
	color: lightgray;
}



	.container,.slideshow-container{
		padding-bottom: 10%;
	}

  footer{
	text-align: center;
   margin-top: 5%;
   position: fixed;
  	bottom: 0;
		left:0;
    width: 100%;
    height: 2rem;
    text-align: center;
		color: white;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		background-color: lightblue;
  }
	.project-pic{
		margin-left: 33%;
	}
