table{
  width: 400px; 
  
}
th{
    background-color: aquamarine;
    text-align: left;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}
.active-row{
    border-bottom: 2px solid black;

}
