body{
 background-image: url(./img/Backg.jpg);
 background-size: cover;
 background-position: auto 550px;
}
h1{
  position:absolute;
  text-align: center;
  width: 600px;
  height: 300px;
  margin: 20% 30%;

}
