*{
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C1F9FC;
  color: black;

}
h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
  text-align: center;
}
h2{
  font-size: 20px;
}

.container{
  margin-top: 10%;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book {
  width: 250px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
}
.book img{
  width: 100%;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.book:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.book-title {
  font-size: 18px;
  margin: 20px;
  text-align: center;
  background-color: inherit;

}
.book-author {
  font-style: italic;
  color: #888;
  margin: 0 20px 20px 20px;
  text-align: right;
}

.divider{
  height: 2px;
  background-color: red;
}
.desc{
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  padding: 0;
  font-family: Baskerville;
  color: black;

}

.welcs{
  margin-left: 30%;
}

#book1{
  background-color: white;
  padding: 20px;
}
#book2{
  background-color:#D4E6F1;
  padding: 20px;
}
#book3{
  background-color: #5DADE2  ;
  padding: 20px;
}
#book4{
  background-color: #B7950B  ;
  padding: 20px;
}
#book5{
  background-color: #FDEBD0 ;
  padding: 20px;
}
#book6{
  background-color: #D6EAF8 ;
  padding: 20px;
}


.navigation-items{
 display:flex;
 width: 350px;
 justify-content: space-between;


}
.navigation{
background-color: white;
 display: flex;
padding: 20px;
 float: right;
 border: 1px solid black;
 border-radius: 25px;
 width: 30%;
 justify-content: center;
}
nav>a{
 color: black;
 text-decoration: none;
 font-size: 20px;
}
nav>a:hover{
 color:#533906;
}




header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-right: 60px;
}
#logo {
  width: max(100px, 100px);
  margin-left: 36%;
}

.big-txt{
  text-align:center;
  margin-left: -17%;
  font-family: Papyrus;
  font-size: 45px;

}
h3, p{
  font-weight: normal;
  text-align: center;
}
#accordion h3 {
  background-color: #f1c40f;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

#accordion div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#accordion div li {
  background-color: #95a5a6;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
}
.button{
  display: block;
  margin: auto;
}
.input,input, textarea{
  display: block;
  margin: auto;

  padding: 3px;

 }
 input[type="submit"] {

     background-color: #533906;
     color: white;
     border-radius: 5px;
     margin-top: 10px;
     width: 50px;
 }
 nav ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 	display: flex;
 	flex-wrap: wrap;
 }
 nav li {
 	margin: 0 10px;
 	margin-top: 2px;
 	text-align:center;
 }
 nav a, h1 a{
 	color: black;
 	text-decoration: none;
 }
 nav a:hover, a:hover {
 	color: lightgray;
 }
 footer{
   color: black;
   text-align: center;
   width: 100%;
   height: 2rem;
   text-align: center;
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 }
 .container{
   padding-bottom: 10%;
 }
