html{
    color: black;
    font-family: Lato,sans-serif;
}
body{
    margin: 0;
    background-image: url("books.jpg");
    background-size:cover;
    background-color: #C1F9FC; 

   }
.navigation-items{
    display:flex;
    width: 300px;
    justify-content: space-between;

}
.navigation{
    display: flex;
    padding: 20px 20px;
    float: right;
    background-color: aliceblue;
    margin-top: 2%;
    margin-right: 5%;
    border: 1px solid black;
    border-radius: 25px;
    width: 30%;
    justify-content: center;
    opacity: 0.8;
}
nav>a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
nav>a:hover{
    color:#533906;
}

.big-text{
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.7;
  border: 1px solid white;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-top: 0;
  width: 500px;
  text-align: center;

}
.big-text-des{
 position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 18px;
}

input{
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 10px;
  }
input[type="submit"] {
    display: inline-block;
    margin-left: 10px;
    background-color: #533906;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.newsletter-div>input:hover{
    opacity: 1;
}
.newsletter-div{

    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0.7;
    width: 450px;
    text-align: center;
    display: block;
    justify-content: center;
    padding-top: 10px;

}
.explore{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #533906;
    border: 1px solid #533906;
    border-radius: 5px;
    text-align: center;
    height: 35px;
    padding-top: 15px;
    opacity: 0.7;
    box-shadow: 10px 10px 10px black;
}
.explore>a{
    text-decoration: none;
    color: white;
}
.explore:hover{
    opacity: 1;
}

h2{
    font-size: 35px;
    margin: 0;
}
.newsletter-p{
    font-size: 18px;
}
